
body {
    background-color: lightskyblue;
    
}

.grid { 
    width: 400px; 
    height: 300px; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 50px auto; 
    margin-left: 15px;
    justify-content: center;
    
    } 
    @media screen and (min-width: 600px) {
        .grid{
            grid-template-columns: repeat(3, auto);
        }
      }
    
    .grid img { 
    margin: 2px; 
    transform-style: preserve-3d; 
    transition: transform 0.5s; 
    } 

    
    .grid img.flip { 
    transform: rotateY(180deg); 
    } 
    
    .popup { 
    background: red; 
    width: 200px; 
    height: 200px; 
    z-index:20;
    position: fixed; 
    top: 100px;
    left: 100px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    }
    .data { 
        display: flex; 
        justify-content: space-between; 
        padding: 20px 30px; 
        font-size: 23px; 
        } 
        
        .data span { 
        color: rgb(206, 121, 11);
        font-size: 30px; 
        }

        img {
            width: 100px;
            height: 100px;
            border-radius: 15px;
        }

        h1{
            text-align: center;
        }